In [13]:
print('helao \n maast')

helao
 maast

In [15]:
print(2+  4)

6

In [16]:
go = 5

In [17]:
go

5

In [19]:
Go = 6

In [20]:
Go + go

11

In [24]:
x = "meh bleh {} good nim {}".format('pin','do')

In [28]:
print(x)

meh bleh pin good nim do

In [31]:
x[3:10]

' bleh p'

In [33]:
lais = [3,5,8,]

In [36]:
lais

[3, 5, 8, 'infi']

In [6]:
seq =[9,2,3,4,]

In [35]:
lais.append("infi")

In [8]:
for i in seq:
        print(i)

9
2
3
4

In [12]:
a = "wowo this@si be good"

In [16]:
a.split('@')

['wowo this', 'si be good']

In [17]:
d = ('Is there a dog here?')

In [21]:
d

'Is there a dog here?'

In [22]:
d.split()

['Is', 'there', 'a', 'dog', 'here?']

In [24]:
if 'dog' in d.split():
    print("TO")
    else:
        print("NO")

SyntaxError: invalid syntax (<ipython-input-24-8f69b67b38c6>, line 3)

In [30]:
d =('This dog runs faster than the other dog dude!')

In [36]:
d.split()

['This', 'dog', 'runs', 'faster', 'than', 'the', 'other', 'dog', 'dude!']

In [48]:
for i in d.split()[i]:
    if d.split()[i] == 'dog':
        n=1+n
        print(n)
    else:
        i=i+1

TypeError: list indices must be integers or slices, not str

In [50]:
seq = ['soup','dog','salad','cat','great']

In [52]:
seq.filter(s)

AttributeError: 'list' object has no attribute 'filter'

In [4]:
# otehr

In [9]:
import pandas as pd
import numpy as np

In [26]:
dada = pd.DataFrame(np.random.rand(3,4),[0,1,2],['A' , 'B' , 'C', 'd'])
dada

          A         B         C         d
0  0.661178  0.465872  0.459387  0.085469
1  0.766824  0.966777  0.226861  0.796700
2  0.418428  0.761270  0.650003  0.647136

In [37]:
dada[['A']]

          A
0  0.661178
1  0.766824
2  0.418428

In [45]:
dada.iloc [[1,2] , [1,3]]

          B         d
1  0.966777  0.796700
2  0.761270  0.647136

In [47]:
dada.fillna(value=2)

          A         B         C         d
0  0.661178  0.465872  0.459387  0.085469
1  0.766824  0.966777  0.226861  0.796700
2  0.418428  0.761270  0.650003  0.647136

In [2]:
pd.read_clipboard()

   MONTHLY        lname
0  MONTHLY       degree
1  MONTHLY      tel_num
2  MONTHLY      opt_out
3  MONTHLY       no_mkt
4  MONTHLY      ims_num
5  MONTHLY    cust_skey
6  MONTHLY     inst_flg
7  MONTHLY      spec_cd
8  MONTHLY  spec_grp_cd

In [21]:
dat = pd.read_clipboard()
dat.head()

       novid  sum_trx  decile_trx
0  5443561.0      376           9
1  5240586.0       21           2
2  1899124.0        3           1
3  5432295.0       20           2
4   379683.0       12           1

In [22]:
dat['out'] = pd.cut(dat['sum_trx'], 10).values.codes
dat.head()

       novid  sum_trx  decile_trx  out
0  5443561.0      376           9    3
1  5240586.0       21           2    0
2  1899124.0        3           1    0
3  5432295.0       20           2    0
4   379683.0       12           1    0